@import "variables";

%nav {
	color: map-get($colors, gray-4);
	padding: 0.25rem 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

%nav-links {
	ul {
		list-style: none;
		display: flex;
	}

	li {
		opacity: 0.6;

		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}

	li.active {
		opacity: 1;
	}
}

.nav-logo {
	font-weight: bold;
	font-size: map-get($font-sizes, sm);
}

.nav-full {
	@extend %nav;
	background-color: map-get($colors, gray-0);
	box-shadow: map-get($shadows, 1);
	border-radius: 3px;
}

.nav-lite {
	@extend %nav;
}

.nav-full .nav-links {
	@extend %nav-links;

	li + li {
		margin-left: 1.75rem;
	}
}

.nav-lite .nav-links {
	@extend %nav-links;

	li + li {
		margin-left: 2rem;
	}
}
