@import "variables";
@import "responsive";

%nav {
	color: map-get($colors, gray-5);
	padding: 0.25rem 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;

	@include breakpoint(sm) {
		padding: 0.25rem 1rem;
	}
}

%nav-links {
	ul {
		list-style: none;
		display: flex;
	}

	li {
		i,
		span {
			opacity: 0.6;
			padding: 4px;

			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
	}

	a.active > span {
		opacity: 1;
		background: map-get($colors, gray-1);
		border-radius: 50%;
	}
}

.nav-logo {
	font-weight: bold;
	font-size: map-get($font-sizes, sm);
}

.nav-full {
	@extend %nav;
	background-color: map-get($colors, gray-0);
	box-shadow: map-get($shadows, 1);
	border-radius: 3px;
}

.nav-lite {
	@extend %nav;
}

.nav-full .nav-links {
	@extend %nav-links;

	li + li {
		margin-left: 1.75rem;
	}
}

.nav-lite .nav-links {
	@extend %nav-links;

	li + li {
		margin-left: 1.75rem;

		@include breakpoint(sm) {
			margin-left: 1.5rem;
		}
	}
}
