@import "variables";

h1 {
	font-size: map-get($font-sizes, lg);
	font-weight: 700;
}

h2 {
	font-size: map-get($font-sizes, md);
	font-weight: 100;
}

h3 {
	font-size: map-get($font-sizes, sm);
	font-weight: 400;
}
