.demo-banner {
	text-align: center;
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
}

.title-sub {
	font-size: 1.25rem;
	font-weight: 300;
	margin: 1rem 0 2rem;
}
